# Node / React
node_modules/
build/
dist/
coverage/
.cache/
.parcel-cache/
.next/
out/
npm-debug.log*
yarn-error.log*
.eslintcache

# Env
.env*
!.env.example

# Editors/OS
.idea/
.vscode/
.DS_Store
Thumbs.db
